@if(user) {
    <div class="layoutBox-v" fxLayout="column" fxLayoutGap="50px">
        <div
          class="layoutBox-h"
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutGap="10px"
          fxLayoutAlign="space-evenly stretch"
        >
        <mat-card fxFlex="20" fxFlexOrder="1" fxFlexOrder.xs="2">
            <mat-card-header><h2>Browse</h2></mat-card-header>
            <mat-card-content>
                <app-file-tree (itemSelectEmitter)="itemSelected()" (fileCreateEmitter)="createNewSelected()" (dirSelectEmitter)="dirSelected($event)"></app-file-tree>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="80" fxFlexOrder="2" fxFlexOrder.xs="1">
            <mat-card-content>
                <app-file-view [currentDir]="currentDirId" (refreshDirs)="refreshDirs()"></app-file-view>
            </mat-card-content>
        </mat-card>
    
        </div>
    </div>
} @else {
    <div class="loggedOut">
        <h1>Welcome!</h1>
        Please <a href="/auth/login">log in</a> to access the site!
        <br/><br/>
        New here? <a href="/auth/register">Create an account now!</a>
        <br/>
        <mat-icon color="primary">waving_hand</mat-icon>
        <br/>
        Organizer allows you to create events, notes and tasks
        <br/>
        <mat-icon color="primary">event</mat-icon><mat-icon color="primary">task</mat-icon><mat-icon color="primary">sticky_note_2</mat-icon>
        <br/>
        Share your files and folders with others -- and have others share theirs with you
        <br/>
        <mat-icon color="primary">groups_2</mat-icon>
        <br/>
        Troubles deciding on meeting date? Let others vote on their prefences
        <br/>
        <mat-icon color="primary">how_to_vote</mat-icon>
    </div>
}

