.layoutBox-v {
    margin: 1%;
    height: 88%;
  }
  .layoutBox-h {
    height: 100%;
  }
  mat-card-content {
    overflow-y: scroll;
  }

.loggedOut {
  text-align: center;
  font-size: 1.5em;
  .mat-icon {
    transform: scale(1.5);
    margin: 10px;
  }
}