
<mat-toolbar>
    <div class="left-toolbar">
        <a class="title" routerLink=""><span>Organizer</span></a>
        @if (isLoggedIn && isAdmin) {
            <button mat-raised-button [matMenuTriggerFor]="menu" color="accent" aria-label="Admin Panel">
                <mat-icon>shield</mat-icon> Admin Panel
            </button>
            <mat-menu #menu="matMenu">
                <a routerLink="admin/users" mat-menu-item><mat-icon>group</mat-icon>User Panel</a>
              </mat-menu>
        }
    </div>
    <div class="right-toolbar">
        @if(isLoggedIn) {
            <span [matBadge]="unreadNotifs" matBadgeOverlap="false" [matBadgeHidden]="unreadNotifs == 0">
            @if(currentUser?.name != undefined && currentUser?.name != '') {
                Hello, {{currentUser?.name}}
            } @else {
                Hello, {{currentUser?.username}}
            }
        </span>
        &nbsp;&nbsp;
            <a mat-icon-button routerLink="profile" matTooltip="User profile" [matTooltipShowDelay]="1000"><mat-icon>account_circle</mat-icon></a>
            <button (click)="onLogout()" mat-raised-button color="primary" aria-label="Logout">
                <mat-icon>logout</mat-icon> LOG OUT
            </button>
        } @else {

            <button (click)="onLogin()" mat-raised-button color="primary" aria-label="Login">
                <mat-icon>login</mat-icon> LOG IN
            </button>
        }
    </div>
    
</mat-toolbar>
  

<router-outlet />
