<mat-card class="register-box">
    <mat-card-header>
      <mat-card-title><h2>Register</h2></mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      @if (afterRegister) {
        Thank you for registering! Click the button to the top right or <a href="/auth/login">this link</a> to log in!<br/><br/><br/>
      }
        <form [formGroup]="form">
            <mat-form-field appearance="outline">
              <mat-label><b>Username</b></mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                name="username"
                formControlName="username"
                required
                #username
                [ngClass]="{
                  'is-invalid': form.controls.username.hasError('required')
                }"
              />
              @if (form.controls.username.hasError('required')) {
              <mat-error>The username is required!</mat-error>
              }
            </mat-form-field>
            <br />
            <br />
            <mat-form-field appearance="outline">
              <mat-label><b>Password</b></mat-label>
              <input
                matInput
                type="password"
                class="form-control"
                formControlName="password"
                required
                minlength="6"
                [ngClass]="{
                  'is-invalid': form.controls.password.hasError('required')
                }"
              />
              <mat-error>
                @if (!form.controls.password.valid) { @if
                (form.controls.password.hasError('required')) { The password is required! }
                @if (form.controls.password.value!.length! < 6) { The password is too short! } }
              </mat-error>
            </mat-form-field>
            <br/>
              <br/>
              <mat-form-field appearance="outline">
                <mat-label><b>Name</b></mat-label>
                <input
                  matInput
                  type="text"
                  class="form-control"
                  name="name"
                  formControlName="name"
                />
              </mat-form-field>
              <br/>
              <br/>
              <mat-form-field appearance="outline">
                <mat-label><b>Email</b></mat-label>
                <input
                  matInput
                  type="text"
                  class="form-control"
                  name="email"
                  formControlName="email"
                  #email
                  [ngClass]="{
                    'is-invalid': form.controls.email.hasError('email')
                  }"
                />
                @if (form.controls.email.hasError('email')) {
                    <mat-error>Not a valid email</mat-error>
                    }
              </mat-form-field>
            <br />
            <!--uh-->
            <br />
            <!--uh-->
            <br />
            <div>
              <button
                mat-raised-button
                color="primary"
                class="btn btn-primary btn-block"
                [disabled]="!form.valid"
                (click)="onSubmit()"
              >
                Register
              </button>
            </div>
          </form>
    </mat-card-content>
  </mat-card>
