<button mat-flat-button color="accent" (click)="backEmitter.emit()"><mat-icon>arrow_back</mat-icon>Back</button><br/><br/>
@if (file) {
  <form [formGroup]="customDateForm">
    <mat-form-field appearance="outline" class="longDate" [hideRequiredMarker]="true">
        <mat-label>Full date</mat-label>
        <input matInput type="datetime-local"
        name="customDate" required
        formControlName="customDate"/>
        <mat-error>
          @if(customDateForm.controls.customDate.value == '') {
            Enter the date fully
          }
        </mat-error>
    </mat-form-field>
  </form>
  <button mat-flat-button color="primary" [disabled]="!customDateForm.valid" (click)="addCustomDate()"><mat-icon>notification_add</mat-icon>Add</button>

  @if (isEvent(file) || isTask(file)) {
    <form [formGroup]="unitsForm">
      <mat-form-field appearance="outline">
          <input matInput type="number" value="0" min="0" step="1"
          name="timeDifference" formControlName="timeDifference">
        </mat-form-field>
        <br/>
      <mat-form-field appearance="outline">
        <mat-label>Units</mat-label>
        <mat-select matNativeControl formControlName="unitSelect" name="unitSelect">
          @for (unit of units; track unit) {
            <mat-option [value]="unit">{{unit}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
    <button mat-flat-button color="primary" [disabled]="!unitsForm.valid" (click)="addUnitDate()"><mat-icon>notification_add</mat-icon>Add</button>
  }
  <form [formGroup]="messageForm">
    <mat-form-field appearance="outline" class="longDate">
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="Leave empty for auto message" name="messageText"
        formControlName="messageText"></textarea>
    </mat-form-field>
  </form>
  <h2>Future notifications</h2>
  @for(notif of notifs; track notif) {
    <mat-card appearance="raised">
      <mat-card-content>
        {{notif.sendTimeSetting | date: 'medium'}}
        <br/>
        <button mat-button (click)="deleteNotif(notif.id)">Cancel</button>
      </mat-card-content>
  </mat-card>
}
  
  
}
