<button mat-flat-button color="accent" (click)="backEmitter.emit()"><mat-icon>arrow_back</mat-icon>Back</button>
@if (isOwner) {
    <h2>Add new date proposal</h2>
    <form [formGroup]="form">
        <mat-form-field appearance="outline" class="longDate">
            <mat-label>Start Date</mat-label>
            <input matInput type="datetime-local"
            class="form-control"
            name="start" required
            formControlName="start"/>
            <mat-error>
                @if(form.controls.start.value == '') {
                  Enter the date fully for it to be saved
                }
              </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="longDate">
            <mat-label>End Date</mat-label>
            <input matInput type="datetime-local"
            class="form-control"
            name="end" required
            formControlName="end"/>
            <mat-error>
                @if(form.controls.end.value == '') {
                  Enter the date fully for it to be saved
                }
              </mat-error>
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" [disabled]="!form.controls.start.valid" (click)="onAddEventDate()">Add</button>
}

<h2>Proposals</h2>
@for (ed of eds; track ed) {
    <mat-card class="edCard">
        <mat-card-content>
            @if (isOwner) {
                <button mat-flat-button color="accent" (click)="confirmEventDate(ed.id)"><mat-icon>check</mat-icon>Apply this date to event</button>
                <button mat-flat-button color="warn" (click)="onDeleteEventDate(ed.id)"><mat-icon>delete</mat-icon>Delete date</button>
                <br/>
            }
            <h4>{{ed.start | date: 'medium'}}
            @if (ed.end) {
                - {{ed.end | date: 'medium'}}
            }</h4>
            <h3>Total score: {{ed.totalScore}}</h3>
            <h6>Votes:</h6>
            <mat-chip-set aria-label="Votes">
                @for (vote of votes.get(ed.id); track vote) {
                    <mat-chip>{{vote.score}}</mat-chip>
                }
            </mat-chip-set>
            
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" (click)="onCastVote(ed.id, -1)">-1</button>
            <button mat-flat-button color="primary" (click)="onCastVote(ed.id, 0)">0</button>
            <button mat-flat-button color="primary" (click)="onCastVote(ed.id, 1)">1</button>
            <button mat-flat-button color="warn" (click)="onDelete(ed.id)"><mat-icon>delete</mat-icon>Delete vote</button>
        </mat-card-actions>
    </mat-card>
}
