@if(note) {
    <br/>
    <form [formGroup]="noteForm">
        <div>
            <button
              mat-raised-button
              color="primary"
              class="btn btn-primary btn-block"
              [disabled]="!noteForm.valid"
              (click)="updateNote()"
            >
              Save changes
            </button>
            <button
              mat-raised-button
              color="warn"
              class="btn btn-primary btn-block"
              (click)="setUpNoteForm()"
            >
              Discard changes
            </button>
          </div>
          <br/><br/>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text"
            class="form-control"
            name="filename"
            formControlName="filename" placeholder="Unnamed File"/>
        </mat-form-field>
        <br/>
        <div class="created">Created on {{note.creationDate | date: 'medium'}}</div>
        <br/><br/>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Content</mat-label>
            <textarea matInput type="text"
            class="form-control content"
            name="content"
            #content
            [maxlength]="65000"
            formControlName="content" placeholder="Write something..." rows="20" style="resize: none;"></textarea>
            <mat-hint align="end">{{content.value.length}} / 65000</mat-hint>
          </mat-form-field>
    </form>
    
} @else {
    @if(event) {
        <br/>
        <form [formGroup]="eventForm">
            <div>
                <button
                  mat-raised-button
                  color="primary"
                  class="btn btn-primary btn-block"
                  [disabled]="!noteForm.valid"
                  (click)="updateEvent()"
                >
                  Save changes
                </button>
                <button
                  mat-raised-button
                  color="warn"
                  class="btn btn-primary btn-block"
                  (click)="setUpEventForm()"
                >
                  Discard changes
                </button>
              </div>
              <br/><br/>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type="text"
                class="form-control"
                name="filename"
                formControlName="filename" placeholder="Unnamed File"/>
            </mat-form-field>
            <br/>
            <div class="created">Created on {{event.creationDate | date: 'medium'}}</div>
            <br/><br/>
            <mat-form-field appearance="outline">
                <mat-label>Start Date</mat-label>
                <input matInput type="datetime-local"
                class="form-control"
                name="startDate"
                formControlName="startDate"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>End Date</mat-label>
                <input matInput type="datetime-local"
                class="form-control"
                name="endDate"
                formControlName="endDate"/>
            </mat-form-field>
            <br/><br/>
            <mat-form-field appearance="outline">
                <mat-label>Location</mat-label>
                <input matInput type="text"
                class="form-control"
                name="location"
                formControlName="location" placeholder="Some Place"/>
            </mat-form-field>
            <br/><br/>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Content</mat-label>
                <textarea matInput type="text"
                class="form-control content"
                name="content"
                #content
                [maxlength]="65000"
                formControlName="content" placeholder="Write something..." rows="10" style="resize: none;"></textarea>
                <mat-hint align="end">{{content.value.length}} / 65000</mat-hint>
              </mat-form-field>
        </form>
        
    } @else {
        @if (task) {
            <br/>
            <form [formGroup]="taskForm">
                <div>
                    <button
                      mat-raised-button
                      color="primary"
                      class="btn btn-primary btn-block"
                      [disabled]="!noteForm.valid"
                      (click)="updateTask()"
                    >
                      Save changes
                    </button>
                    <button
                      mat-raised-button
                      color="warn"
                      class="btn btn-primary btn-block"
                      (click)="setUpTaskForm()"
                    >
                      Discard changes
                    </button>
                  </div>
                  <br/><br/>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput type="text"
                    class="form-control"
                    name="filename"
                    formControlName="filename" placeholder="Unnamed File"/>
                </mat-form-field>
                <br/>
                <div class="created">Created on {{task.creationDate | date: 'medium'}}</div>
                <br/><br/>
                <mat-checkbox [formControl]="taskForm.controls.isFinished">Done</mat-checkbox>
                <br/><br/>
                <mat-form-field appearance="outline">
                    <mat-label>Deadline</mat-label>
                    <input matInput type="datetime-local"
                    class="form-control"
                    name="deadline"
                    formControlName="deadline"/>
                </mat-form-field>
                <br/><br/>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Content</mat-label>
                    <textarea matInput type="text"
                    class="form-control content"
                    name="content"
                    #content
                    [maxlength]="65000"
                    formControlName="content" placeholder="Write something..." rows="10" style="resize: none;"></textarea>
                    <mat-hint align="end">{{content.value.length}} / 65000</mat-hint>
                </mat-form-field>
            </form>
        } @else {
            <div class="noneSelected">
                Select a file in the browser on the left!
            </div>
        }
        
    }
}
