.content {
    width: 100%;
}

.created {
    font-size: 0.8em;
    font-style: italic;
    color: gray;
}

.noneSelected {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #8BC34A;
    font-weight: bold;
}