@if (movingElement) {
  <app-move-dir [origParentId]="parentId" [movedDirId]="movedDirId" (moveEmitter)="onFinishMoving($event)"></app-move-dir>
} @else if (sharingElement) {
  <app-manage-access [sharedItemId]="sharedItemId" [isSharedFile]="isSharedFile" (backEmitter)="sharingElement = false"></app-manage-access>
} @else if (managingNotifs && _file) {
  <app-manage-notifs [file]="_file" (backEmitter)="managingNotifs = false"></app-manage-notifs>
} @else if (inVotingPanel && event) {
  <app-voting-panel [event]="event" (changeDateEmitter)="onChangeEventDate()" (backEmitter)="inVotingPanel = false"></app-voting-panel>
}
@else if (note || event || task || dir){
  <div class="editInfo">
    @if (!isOwner) {
      @if (canEdit) {
        Edit mode
      } @else {
        View only mode
      }
    }
  </div>
  <div>
    @if (createMode || isOwner || canEdit) {
      @if (note) {
        <button
        mat-raised-button
        color="primary"
        class="btn btn-primary btn-block"
        (click)="saveItem()"
        [disabled]="!noteForm.controls.filename.valid"
      >
        <mat-icon>check</mat-icon>Save changes
      </button>
      } @else if (event) {
        <button
        mat-raised-button
        color="primary"
        class="btn btn-primary btn-block"
        (click)="saveItem()"
        [disabled]="!eventForm.controls.filename.valid"
      >
        <mat-icon>check</mat-icon>Save changes
      </button>
      } @else if (task) {
        <button
        mat-raised-button
        color="primary"
        class="btn btn-primary btn-block"
        (click)="saveItem()"
        [disabled]="!taskForm.controls.filename.valid"
      >
        <mat-icon>check</mat-icon>Save changes
      </button>
      } @else if (dir) {
        <button
        mat-raised-button
        color="primary"
        class="btn btn-primary btn-block"
        (click)="saveItem()"
        [disabled]="!dirForm.controls.dirname.valid"
      >
        <mat-icon>check</mat-icon>Save changes
      </button>
      }
      <button
        mat-raised-button
        color="warn"
        class="btn btn-primary btn-block"
        (click)="setUpForm()"
      >
        <mat-icon>undo</mat-icon>Discard changes
      </button>
    }
    
    @if(!createMode) {
      @if (_file) {
        <button
          mat-raised-button
          color="primary"
          class="btn btn-primary btn-block"
          (click)="manageNotifs()"
        >
          <mat-icon>notifications</mat-icon>Manage notifications
        </button>
      }
      
      @if (isOwner) {
        @if (_file || (dir && dir.parent)) {
          <button
            mat-raised-button
            color="accent"
            class="btn btn-primary btn-block"
            (click)="moveDirs()"
          >
            <mat-icon>drive_file_move</mat-icon>Move to a different folder
          </button>
        }
        
        <button
          mat-raised-button
          color="primary"
          class="btn btn-primary btn-block"
          (click)="shareItem()"
        >
          <mat-icon>groups</mat-icon>Share
        </button>
          @if (!dir || dir.parent) {
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title><mat-icon>delete</mat-icon>&nbsp; Delete</mat-panel-title>
              </mat-expansion-panel-header>
              Are you sure? This action cannot be undone.
              <button mat-raised-button color="warn" (click)="deleteFile()" aria-label="Delete File">
                  <mat-icon>check</mat-icon> CONFIRM
              </button>
            </mat-expansion-panel>
        }
      }
    }
  </div>
  @if(note) {
    <form [formGroup]="noteForm">
          <br/><br/>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text"
            class="form-control"
            name="filename"
            #filename
            [maxlength]="50"
            [readonly]="!isOwner && !createMode"
            formControlName="filename" placeholder="Unnamed File"/>
            <mat-hint align="end">{{filename.value.length}} / 50</mat-hint>
            <mat-error>
              @if (!noteForm.controls.filename.valid) { @if
              (noteForm.controls.filename.hasError('required')) { The name cannot be empty! } }
            </mat-error>
        </mat-form-field>
        <br/>
        <div class="created">Created on {{note.creationDate | date: 'medium'}}</div>
        <br/><br/>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Content</mat-label>
            <textarea matInput type="text"
            class="form-control content"
            name="content"
            #content
            [maxlength]="65000"
            [readonly] = "!isOwner && !createMode && !canEdit"
            formControlName="content" placeholder="Write something..." rows="20" style="resize: none;"></textarea>
            <mat-hint align="end">{{content.value.length}} / 65000</mat-hint>
          </mat-form-field>
    </form>
    
  } @else if(event){
          <form [formGroup]="eventForm">
                <br/><br/>
              <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput type="text"
                  class="form-control"
                  name="filename"
                  #filename
                  [maxlength]="50"
                  [readonly]="!isOwner && !createMode"
                  formControlName="filename" placeholder="Unnamed File"/>
                  <mat-hint align="end">{{filename.value.length}} / 50</mat-hint>
                  <mat-error>
                    @if (!eventForm.controls.filename.valid) { @if
                    (eventForm.controls.filename.hasError('required')) { The name cannot be empty! } }
                  </mat-error>
              </mat-form-field>
              <br/>
              <div class="created">Created on {{event.creationDate | date: 'medium'}}</div>
              <br/><br/>
              <mat-form-field appearance="outline" class="longDate" [hideRequiredMarker]="true">
                  <mat-label>Start Date</mat-label>
                  <input matInput type="datetime-local"
                  class="form-control"
                  name="startDate" required 
                  [readonly] = "!isOwner && !createMode && !canEdit"
                  formControlName="startDate"/>
                  <mat-error>
                    @if(eventForm.controls.startDate.value == null) {
                      This date is not required. If you wish to set it, the date and time have to be entered fully and be valid.
                    }
                  </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="longDate" [hideRequiredMarker]="true">
                  <mat-label>End Date</mat-label>
                  <input matInput type="datetime-local"
                  class="form-control"
                  name="endDate" required 
                  [readonly] = "!isOwner && !createMode && !canEdit"
                  formControlName="endDate"/>
                  <mat-error>
                    @if(eventForm.controls.endDate.value == null) {
                      This date is not required. If you wish to set it, the date and time have to be entered fully and be valid.
                    }
                  </mat-error>
              </mat-form-field>
              <button mat-raised-button
              color="accent" (click)="goToVotingPanel()"><mat-icon>how_to_vote</mat-icon>Date voting panel</button>
              <br/><br/>
              <mat-form-field appearance="outline">
                  <mat-label>Location</mat-label>
                  <input matInput type="text"
                  class="form-control"
                  name="location"
                  #location
                  [maxlength]="50"
                  [readonly] = "!isOwner && !createMode && !canEdit"
                  formControlName="location" placeholder="Some Place"/>
              </mat-form-field>
              <mat-hint align="end">{{location.value.length}} / 50</mat-hint>
              <br/><br/>
              <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>Content</mat-label>
                  <textarea matInput type="text"
                  class="form-control content"
                  name="content"
                  #content
                  [maxlength]="65000"
                  [readonly] = "!isOwner && !createMode && !canEdit"
                  formControlName="content" placeholder="Write something..." rows="10" style="resize: none;"></textarea>
                  <mat-hint align="end">{{content.value.length}} / 65000</mat-hint>
                </mat-form-field>
          </form>
          
  } @else if (task){
          <form [formGroup]="taskForm">
                <br/><br/>
              <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput type="text"
                  class="form-control"
                  name="filename"
                  #filename
                  [maxlength]="50"
                  [readonly]="!isOwner && !createMode"
                  formControlName="filename" placeholder="Unnamed File"/>
                  <mat-hint align="end">{{filename.value.length}} / 50</mat-hint>
                  <mat-error>
                    @if (!taskForm.controls.filename.valid) { @if
                    (taskForm.controls.filename.hasError('required')) { The name cannot be empty! } }
                  </mat-error>
              </mat-form-field>
              <br/>
              <div class="created">Created on {{task.creationDate | date: 'medium'}}</div>
              <br/><br/>
              <mat-checkbox [disabled] = "!isOwner && !createMode && !canEdit" [formControl]="taskForm.controls.isFinished">Done</mat-checkbox>
              <br/><br/>
              <mat-form-field appearance="outline" class="longDate" [hideRequiredMarker]="true">
                  <mat-label>Deadline</mat-label>
                  <input matInput type="datetime-local"
                  class="form-control"
                  name="deadline" required
                  [readonly] = "!isOwner && !createMode && !canEdit"
                  formControlName="deadline"/>
                  <mat-error>
                    @if(taskForm.controls.deadline.value == null) {
                      This date is not required. If you wish to set it, the date and time have to be entered fully and be valid.
                    }
                  </mat-error>
              </mat-form-field>
              <br/><br/>
              <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>Content</mat-label>
                  <textarea matInput type="text"
                  class="form-control content"
                  name="content"
                  #content
                  [maxlength]="65000"
                  [readonly] = "!isOwner && !createMode && !canEdit"
                  formControlName="content" placeholder="Write something..." rows="10" style="resize: none;"></textarea>
                  <mat-hint align="end">{{content.value.length}} / 65000</mat-hint>
              </mat-form-field>
          </form>
  } @else if (dir){
      <form [formGroup]="dirForm">
        <br/><br/>
      <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text"
          class="form-control"
          name="dirname"
          #filename
          [maxlength]="50"
          formControlName="dirname" placeholder="Unnamed Directory"/>
          <mat-hint align="end">{{filename.value.length}} / 50</mat-hint>
          <mat-error>
            @if (!dirForm.controls.dirname.valid) { @if
            (dirForm.controls.dirname.hasError('required')) { The name cannot be empty! } }
          </mat-error>
      </mat-form-field>
  </form>
  }
}
 @else {
    <div class="noneSelected">
        Select a file in the browser on the left!
    </div>
  }
            

