@if (user) {
  <div class="layoutBox-v" fxLayout="column" fxLayoutGap="50px">
    <div
      class="layoutBox-h"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="10px"
      fxLayoutAlign="space-evenly stretch"
    >
    <mat-card fxFlex="30" fxFlexOrder="1" fxFlexOrder.xs="2">
        <mat-card-header>
            <h2>Profile</h2>
        </mat-card-header>
        <mat-card-content>
          <br/>
            <form [formGroup]="form">
                <mat-form-field appearance="outline">
                  <mat-label><b>Username</b></mat-label>
                  <input
                    matInput
                    type="text"
                    class="form-control"
                    name="username"
                    formControlName="username"
                    required
                    #username
                    [ngClass]="{
                      'is-invalid': form.controls.username.hasError('required')
                    }"
                  />
                  @if (form.controls.username.hasError('required')) {
                  <mat-error>The username is required!</mat-error>
                  }
                </mat-form-field>
                <br />
                <br />
                
                  <mat-form-field appearance="outline">
                    <mat-label><b>Name</b></mat-label>
                    <input
                      matInput
                      type="text"
                      class="form-control"
                      name="name"
                      formControlName="name"
                    />
                  </mat-form-field>
                  <br/>
                  <br/>
                  <mat-form-field appearance="outline">
                    <mat-label><b>Email</b></mat-label>
                    <input
                      matInput
                      type="text"
                      class="form-control"
                      name="email"
                      formControlName="email"
                      #email
                      [ngClass]="{
                        'is-invalid': form.controls.email.hasError('email')
                      }"
                    />
                    @if (form.controls.email.hasError('email')) {
                        <mat-error>Not a valid email</mat-error>
                        }
                  </mat-form-field>
                <br />
                <br />
                <br />
                <div>
                  <button
                    mat-raised-button
                    color="primary"
                    class="btn btn-primary btn-block"
                    [disabled]="!form.valid"
                    (click)="onSubmit()"
                  >
                    Save changes
                  </button>
                  <button
                    mat-raised-button
                    color="warn"
                    class="btn btn-primary btn-block"
                    (click)="onDiscard()"
                  >
                    Discard changes
                  </button>
                </div>
              </form>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="70" fxFlexOrder="2" fxFlexOrder.xs="1">
      <mat-card-header>
        <h2>Notifications</h2>
      </mat-card-header>
        <mat-card-content>
          <app-notifs-view></app-notifs-view>
        </mat-card-content>
    </mat-card>

    </div>
</div>
    
} @else {
    Please log in
}
