@if (isAdmin) {
<div class="layoutBox-v" fxLayout="column" fxLayoutGap="50px">
    <div
      class="layoutBox-h"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="10px"
      fxLayoutAlign="space-evenly stretch"
    >
    <mat-card fxFlex="70" fxFlexOrder="1" fxFlexOrder.xs="2">
        <mat-card-header><h2>Users</h2></mat-card-header>
        <mat-card-content>
            <app-table-base [columns]="columns" [data]="userData" (selectEmitter)="selectUser($event)"></app-table-base>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="30" fxFlexOrder="2" fxFlexOrder.xs="1">
        <mat-card-header><h2>Selected User</h2></mat-card-header>
        <mat-card-content>
            <h3>ID</h3>
            {{user?.id}}
            <h3>Username</h3>
            {{user?.username}}
            <h3>Name</h3>
            {{user?.name}}
            <h3>Email</h3>
            {{user?.email}}
            <h3>Role</h3>
            {{user?.role}}
            <br/><br/>
            @if (user && !isCurrentUser) {
                @if (isAdminSelected) {
                    <button mat-raised-button color="accent" (click)="revokeAdmin()" aria-label="Revoke Admin Privilege">
                        <mat-icon>remove_moderator</mat-icon> Revoke Admin Privilege
                    </button>
                } @else {
                    <button mat-raised-button color="primary" (click)="grantAdmin()" aria-label="Grant Admin Privilege">
                        <mat-icon>add_moderator</mat-icon> Grant Admin Privilege
                    </button>
                }
                <br/><br/>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title><mat-icon>person_remove</mat-icon>&nbsp; Delete User </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button mat-raised-button color="warn" (click)="deleteUser()" aria-label="Delete User">
                        <mat-icon>check</mat-icon> CONFIRM
                    </button>
                  </mat-expansion-panel>
                
            }
        </mat-card-content>
    </mat-card>

    </div>
</div>
} @else {
    <div class="centered"><mat-icon>shield</mat-icon><br/>This page is accessible for administrators only</div>
}

