mat-icon {
    margin-right: 5px;
    margin-top: 5px;
}

.dirName {
    font-size: 1.2em;
    font-weight: bold;
}

.addNew {
    position:absolute;
    right:5px;
    margin-top:15px;
}

.addNew mat-icon {
    margin-right: 0px;
    margin-top: 0px;
}
